
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Mythbuntu-QML
Exec=/usr/bin/single-instance /opt/Mythbuntu-QML/bin/Mythbuntu-QML
Icon=/usr/share/icons/hicolor/80x80/apps/Mythbuntu-QML80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Name[en_US]=mythbuntu-qml-harman.desktop.desktop
